@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 18, 18, 18;
  --elements-color: 36, 36, 36;
  --hover-color: 72, 72, 72;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

section {
  @apply max-w-7xl mx-auto pb-12 !pt-[126px] px-2 h-fit flex flex-col w-full absolute top-0 left-1/2 -translate-x-1/2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .element {
    @apply bg-[rgb(var(--elements-color))];
  }

  .element-inside {
    @apply bg-[rgb(var(--background-rgb))];
  }

  .achievement-hover {
    @apply hover:bg-[rgb(var(--hover-color))];
  }

  .tabs-header {
    @apply flex space-x-1 bg-[rgb(var(--elements-color))] p-1 rounded;
  }

  .tabs-option {
    @apply w-full py-2.5 text-sm rounded hover:bg-[rgb(var(--hover-color))];
  }

  .tabs-option-selected {
    @apply tabs-option bg-[rgb(var(--hover-color))];
  }
  
  .tab-content {
    @apply element mt-4 p-4 rounded;
  }
}

.navbar {
  @apply w-full h-16 bg-[rgb(var(--elements-color))] flex z-10 max-w-7xl rounded-md absolute top-0 left-1/2 -translate-x-1/2;
}

.navbar-item {
  @apply px-6 hover:bg-[rgb(var(--hover-color))];
}

.navbar-item-active {
  @apply underline;
}